html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Evita las barras de scroll */
    background-color: #000;
}

canvas {
    display: block; /* Asegura que el canvas no tenga espacio extra */
    touch-action: none; /* Evita el zoom y otros gestos del navegador */
}

#ui-container {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    z-index: 10; /* Asegura que esté por encima del canvas */
}

#distanceDisplay,
#terrainDisplay,
#instructionsDisplay,
#timeDisplay,
#stepsDisplay {
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-radius: 3px;
}